<!--<div class='loginWrapper'>
    <div class='loginContainer'>
        <div>
            <label for="">Password</label>
            <input type="password">
        </div>
        <div class='submitWrapper'>
            <button class='submit'>Next</button>
        </div>
    </div>
</div>-->
<div class="wrapper">
    <div class="mainPanel">
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus cumque dolorem ea, qui fugit dignissimos, consectetur alias, porro illum deleniti dolorum? Sit deserunt ad ab voluptatibus, sed aliquam voluptatum ex.
        </div>
    </div>
    <div class="sidePanel">
        <app-article-preview></app-article-preview>
    </div>
</div>