
.cardArticle{
  background:var(--color_bg_card_title);
  border-radius: 8px;
  /*box-shadow: rgba(41, 48, 66, 0.05) 0px 0px 0.875rem 0px;*/
  box-shadow:0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.cardArticleContent{
  /*background:rgb(22, 27, 31);*/
  background:var(--color_bg_card);
  border-radius: 0px 0px 8px 8px;
  min-height:250px;
  color:var(--color_font_card);
  padding:clamp(1em, 5vw, 2.5em);;
  font-size:18px;
  border-top: 1px solid var(--color_card_title_border);
}

.cardArticleTitle{
  background: var(--color_bg_card_title);
  border-radius: 8px 8px 0px 0px;
  min-height:50px;
  color:var(--color_font_card);
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction:column;
  padding: clamp(1em, 5vw, 2.5em);
}

.cardArticleTitleTop{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 100%;
}

.cardArticleTitleTop  h1{
 font-size: clamp(2em, 2.5vw, 2.3em);
 font-weight: 700;
}

.cardArticleTitleBottom{
  display:flex;
  flex-direction:row;
  font-size: 18px;
  justify-content: space-between;
  min-width: 100%;
  margin-top:10px;
}
.articleWriterImg{

  border-radius:50%;
  border:solid 3px var(--color_bg_card);
  width:40px;
  height:40px;
}

.cardArticleWriter{
  margin-top:20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.articleWriterText{
  display: flex;
  flex-direction:column;
  gap:0px;
}

.articleWriterText > h4{
  margin:0px;
}

.articleWriterText > span{
  font-size: 12px;
  opacity:0.6;
}

.tag{
  padding:3px 5px 3px 5px;
  border-radius: 5px;
  font-size: 12px;
  background:rgba(0,0,0,0.05)
}

.tags{
  display:flex;
  flex-direction:row;
  gap:5px;
  font-weight:600;
}

.tagJS{
  color:rgba(255, 238, 0, 1);
  margin-right: 1px;
}

.tagHTML{
  color:rgba(9, 255, 0, 1);
  margin-right: 1px;
}

.tagCSS{
  color:rgba(0, 102, 255, 1);
  margin-right: 1px;
}
